/*BASIC FORMATTING*/
body {
	background-color: #bcc8ff;
}

#game {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.cat-img {
    display: block;
    margin: 50px auto 50px auto;
}


.main-container {
	box-sizing: border-box;
	border-radius: 25px;
  	width: 50%;
    height: 100%;
   	background-color: rgba(255, 255, 255, 0.3);
   	margin: auto;
}

#chosenWord {
	color:#e836d3;
}


/*HEADING*/
.header {
	box-sizing: border-box;
	margin: auto;
	width: 33.33%;
}

h1 {
	font-family: 'Josefin Slab', sans-serif;
	font-weight: 300;
	color: #fff;
	text-align: center;
    font-size: 90px;
    margin-top: 20px;
    margin-bottom: -20px;
}

h2 {
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	color: #99a3ce;
	letter-spacing: 2px;
	text-align: center;
	margin: 0;

}

h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 16px;
	font-style: italic;
	text-align: center;
	color: #ffffff ;
	padding-top: 10px;
	
}